# Virtual environments
.venv/
venv/

# Environment files
.env

# IDE and editor files
.vscode/
.idea/

# Bytecode and cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# vectorstore
./storage/
