langchain
langchain-ollama
langchain-community
langchain-text-splitters
langserve
fastapi
uvicorn
python-dotenv
python-multipart
faiss-cpu
requests
beautifulsoup4
lxml
email-validator
sse-starlette
streamlit